.projects {
    min-height: 900px;
    background: #efd8ff;
    padding-top: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
}

.container {
    width: 70%;
    min-height: 700px;
    display: flex;
    flex-direction: column;
}

.myWorks {
    min-height: 100px;
    font-size: 30px;
    text-align: center;
    font-weight: bold; 
    border: 1px solid #cf1070;
}

.myWorks__items {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 960px) {
    .myWorks {
        margin-top: 50px;
    }
    .myWorks__items {
        flex-direction: column;
    }
    .container {
        width: 100%;
    }
}
