.footer {
    height: 300px;
    background-color: #f3ffe5;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.container {
    width: 70%;
    height: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid black;
    margin-bottom: 30px;
  }