.footer {
    min-height: 300px;
    background-color: #f3ffe5;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.container {
    width: 70%;
    min-height: 200px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid black; */
    margin-bottom: 30px;
}

.footer__name {
    font-size: 24px;
    font-weight: bold;
    background-color: rgb(156, 156, 156);
}

.footer__items {
    border: 1px solid #323232;
    display: flex;
}

.footer__item {
    width: 60px;
    height: 60px;
    margin: 0 30px;
    background-color: rgb(107, 107, 107);
}

.footer__items :nth-child(1) {
    margin-left: 0;
}
.footer__items :nth-child(4) {
    margin-right: 0;
}

.copyright {
    background-color: rgb(156, 156, 156);
    font-size: 20px;
    font-weight: bold;
}

@media (max-width: 740px) {
    .container {
        width: 100%;
    }
    .footer_item {

    }
}

@media (max-width: 468px) {
    .footer__items {
        max-width: 100%;
    }
    .footer__item {
        margin: 0 20px;
    }
}

@media (max-width: 396px) {
    .footer__item {
        margin: 0 10px;
    }
}   